# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/forgeSrc-1.10.2-12.18.1.2026-sources/
/asm/
/config/
/crash-reports/
/lib/
/logs/
/mods/
/resourcepacks/
/saves/
/options.txt
/usercache.json
/usernamecache.json
/.nb-gradle/